<mat-toolbar color="primary">
  <mat-toolbar-row>

    <ng-container *ngIf="mobile; else desktop">
      <button mat-icon-button aria-label="Right menu" (click)="sideNav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </ng-container>

    <div class="logo-wrapper">
    <a class="link-img-wrap" routerLink="/">
    <picture>
      <source media="(min-width:768px)" srcset="../../../../assets/img/logo-lg.png">
      <img src="../../../../assets/img/logo.png" alt="logo">
    </picture>
    </a>
    </div>

    <ng-template #desktop>
      <mex-nav-menu></mex-nav-menu>
    </ng-template>



    <mat-form-field style="width: 70px">
      <mat-label>Lang</mat-label>
      <mat-select style="width: 70px">
        <mat-option *ngFor="let locale of localesList" [value]="locale.code">
          <a class="link-white" href="/{{locale.code}}/">
            <img style="width: 50px; vertical-align: middle;" src="{{locale.flag}}" alt="{{locale.label}}">
          </a>
        </mat-option>
      </mat-select>
    </mat-form-field>

<!--    <ul>-->
<!--      <li *ngFor="let locale of localesList">-->
<!--        <a href="/{{locale.code}}/">{{locale.label}}</a>-->
<!--      </li>-->
<!--    </ul>-->

  </mat-toolbar-row>
</mat-toolbar>



