.nav {
  padding: 0 1rem;

  &-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
    overflow: hidden;

    &-item {
      &--link {
        display: block;
        font-size: 2rem;
        color: white;
        padding: 1rem 1rem;
        text-decoration: none;

        &:hover {
          color: #b064e2;
        }
      }
    }
  }

}


@media screen and (min-width: 768px) {
  .nav-list {
    flex-direction: row;
  }
}
